<nav class="navbar navbar-expand-lg bg-black navbar-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">MI BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="/">Blogs</a>
        {% if user.is_authenticated %}
          <a class="nav-link active" href="/admin">Admin</a>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-primary" href="{% url 'post_new' %}">Crear Post</a>
        {% endif %}
        
      </div>
    </div>
  </div>
</nav>